.ThirdSec {
    position: relative;
    color: #ffff !important;
    padding: 170px ;
    text-align: center;
    background-color: #333;
}

.skills__title {
    font-size: 2.8rem;
        font-family: "Urbanist", sans-serif;
        font-weight: 700;

        color: #fff;
        margin-bottom: 1.5rem;}
.sectionSubtitle {
    font-size: 1rem;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    background-color: #fff;
 
    text-align: center;
    margin:auto ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-bottom: 8px;
}
.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    position: relative;
}

.col {

    background: #d0d4d6;
        background: linear-gradient(90deg, rgba(99, 99, 99, 1) 0%, rgba(161, 161, 161, 0.94) 50%, rgb(180, 184, 185) 100%);
        border-radius: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 38px 30px 30px;
    height: fit-content;
    text-align: left !important;
}

.row h2 {
    font-size: 17px;
}

.title__linee {
    background-image: linear-gradient(to right, #4c4c4e, #d0b5ff 100%, #dec7ff);
    width: 60px;
    height: 4px;
    margin-bottom: 20px;
    text-align: left;

}

.lines__body {
    background-color: #eee;
    width: 1px;
    height: 950px;
    position: absolute;
margin-top: 15px;
    left: 50%;
}

.lines__one,
.lines__two,
.lines__three,
.lines__four,
.lines__five {
    background-color: #fff;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    display: flex;
    position: absolute;

    right: -9px;
    z-index: 100000;
}

.line__top,
.line__bottom,
.line__onee,
.line__twoo,
.line__three,
.line__fourr,
.line__fivee {
    background-image: linear-gradient(281deg, #939394, #b6b5b8);
    border-radius: 100%;
    width: 11px;
    height: 11px;
    position: absolute;
    right: -5px;
    z-index: 1000;
}

.line__bottom {
    bottom: -10px;
}

.lines__one {
    top: 75px;
}

.line__onee,
.line__twoo,
.line__three,
.line__fourr,
.line__fivee {
    right: 4px;
}

.lines__two {
    top: 270px;
}

.lines__three {
    top: 480px;
}

.lines__four {
    bottom: 268px;
}

.lines__five {
    bottom: 94px;
}

.skill__one {
    margin-top: 45px;
}

.line__left {
    position: absolute;
    background-color: #fff;
    width: 50px;
    height: 1px;
    left: 100%;
}

.skill__two {
    margin-top: 240px;
}

.skill__three {
    margin-top: -105px;
}

.skill__four {
    margin-top: 78px;
}
.skill__five{
    margin-top: -50px;
}
.line__right {
    position: absolute;
    background-color: #fff;
    width: 50px;
    height: 1px;
    right: 100%;
}

.ul__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.row h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.row h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 8px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.row h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.line__exp{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 15px 0;
}
.line__exp p{
    border: 1px solid #8a8888;
    padding: 5px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 15px;
    background-color: #34343533;
}



@media (min-width:0px) and (max-width:600px) {
    .arrow {
        width: 100%;
    }


    .one p,
    .two p,
    .three p,
    .four p {
        top: 5px;

    }

    .one {
        top: 35%;
        left: 0%;
    }

    .two {
        left: 25%;
        top: 40%
    }

    .three {
        top: 40%;
    }

    .four {
        top: 40%;
        left: 87%;
    }

    .parts {
        display: flex;
        flex-direction: column;
    }

    .part {
        margin-bottom: 10px;
    }

    .btn {
        padding: 0px;
        width: 100%;
        padding: 15px 0;
        margin-top: 10px !important;
    }

    .lines__body {
        display: none;
    }

    .row,
    .cards__body {
        display: flex;
        flex-direction: column;
    }

    .skill__two {
        margin-top: 10px;
    }

    .skill__three {
        margin-top: 12px;
    }

    .skill__four {
        margin-top: 10px;
    }

    .speciality__title {
        font-size: 32px;
    }

    .filter__body {
        column-gap: 5px;
    }

    .card {
        width: 22rem !important;
        height: 30rem !important;
    }

    .card p {
        width: 100%;
    }

    .playlist__body {
        display: flex;
        flex-direction: column;
        column-gap: 0;
        row-gap: 100px;
        width: 100%;

    }

    .playlists {

        margin: auto 30px;
    }

    .playlists__content {

        gap: 0;
    }

    .playlists__content img {
        width: 100%;
    }

    .cards__body {
        margin: 20px 0;
        row-gap: 20px;
    }

    .line__right,
    .line__left {
        display: none;
    }
}


@media (min-width:0px) and (max-width:600px) {
    .first__sec {
        padding: 0px;
    }

    .first__sec__row {
        display: flex;
        flex-direction: column;
    }

    .title__body {
        margin-top: 30px;
        width: 100%;
        font-size: 40px;
        padding: 0 10px;
    }

    .title {
        font-size: 30px;
    }

    .title__color {
        font-size: 30px;
    }

    .title__line {
        right: 0;
        left: 0;
        width: 60%;
    }

    .para__line {
        margin-top: 100px;
        width: 100%;
        font-size: 17px;
    }

    .user {
        width: 230px;
        left: 80px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        top: 30px;
    }

    .gmail,
    .call,
    .linkedin,
    .git,
    .benhance,
    .youtube {
        width: 25px;
    }

    .git {
        right: 30px;
    }
    .ThirdSec{
        padding: 10px;
    }
    .line__exp{
        display: grid;
        grid-template-columns: repeat(5,auto);
       gap: 2px;
    }
    .line__exp p{
        padding: 5px 5px !important;
        font-size: 10px;
    }
    .skill__five{
        margin: 0;
    }
    .skills__title{
        font-size: 2rem;
    }
    .sectionSubtitle{
        font-size: 1rem;
    }
   
}


