.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.nav {
    display: flex;
    gap: 0;
}

.btn {
    padding: 1rem 2rem;
    background: none;
    border: none;
    color: #eee;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;
    font-family: "Amiamie", sans-serif !important;
    font-weight: 600;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
}