.personal__sec{
color: #333;
    width: 100% ;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:350px 0 0 0;
    height: 100dvb;
}
.personal__body{
    position: relative;
    padding: 0 20px;
}
.personal__body h2 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 152px;
    text-transform: uppercase;
}
.personal__body .hr{
    margin: 0;
    border-width: 2px;
    border-color: #333;
    opacity: 1;
    inset-inline: calc(.25rem * 0);
    position: absolute;
    top: 144px;
    height: 2px;
    background-color: #333;
    width: 100%;
}
.personal__para{
    position: relative;
}
.personal__body p {
    text-align: right;
    font-size: 32px;
    text-transform: uppercase;
   
}
.link {

    fill: #333;
    border: 1px solid #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.links,
.social__btn {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
    text-align: right;
    justify-content: right;

}

.links {
    margin-top: 0px;
}

.link:hover {
    background-color: #333;
}

.link:hover svg {
    fill: #fff;
}

@keyframes shine {
    0% {
        -webkit-mask-position: 150%;
    }

    100% {
        -webkit-mask-position: -50%;
    }

}

@media (min-width:0px) and (max-width:600px) {

    .shape__mask,
    .personal__shape h2,
    .shape__dot {
        display: none;
    }

    .link {
        position: relative !important;
        left: 0 !important;
        top: -70px !important;

    }

    .links {
        display: flex !important;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }

    .personal__desc {
        padding: 100px 20px;
    }

    .personal__desc h2 {
        width: 100%;
        font-size: 40px;
    }

    .personal__sec {
        height: fit-content;
    }

}


.btn {
    height: 50px;
    width: 220px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #333;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;

}

.btntxt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 17px;
}



.btn:hover {
    box-shadow: 1px 1px 200px #b9b4b4;
    color: #333;
    border: none;
}

.btn:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}