
 body {
     margin: 0 !important;
     padding: 0 !important;
     font-family: Arial, sans-serif;
     height: 100%;
     background-color: #070a29 !important;
     background-image: url('./assets/648a6bb39e2d83664cf29c45_Bg\ \(1\).png') !important;
     background-position: 0 0;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100%;
     width: 100% !important;
 }
p{
    margin: 0 !important;
}
/* From Uiverse.io by Creatlydev */
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.75rem;
    background-color: #0a416e;
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: 0.55rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
    margin: 10px 0;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: #333;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover {
    background-color: #0a416ec4;
}

.button:hover .button__icon-wrapper {
    color: #000;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}